
<div class="wrapper fadeInDown">
  <div id="formContent">
    <span class="page-title">Welcome to <span style="color:white">Simpe Site</span>.</span>
    <hr style="background: white">
    <div style="color: white; padding: 50px;">
      <p class="h3">
        You are not authorized to see all features
      </p>
    </div>
    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">
        Login
      </a> / <a class="underlineHover" routerLink="/registration">
        Registration
      </a>
    </div>
  </div>

</div>
