<div class="wrapper fadeInDown">
  <div id="formContent">
    <span class="page-title">Password Recovery</span>
    <hr style="background: white">
     <form>
         <input type="text" id="password-recovery"
                class="fadeIn second" name="password-recovery"
                placeholder="Input email or phone number" required>
         <br>
         <input type="submit" class="fadeIn fourth" value="Send Code">
     </form>


    <div id="formFooter">
       <a class="underlineHover" routerLink="/login">Back to login</a>
    </div>
  </div>

</div>
