
/* BASIC */


a {
  color: #EA750D;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
}



/* STRUCTURE */


#formContent {
  margin-top: 7%;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: rgba(0,0,0,0.82);
  padding: 30px;
  width: 40%;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}



/* FORM TYPOGRAPHY*/



.input-group-prepend{
 width: 9%;
 text-align: center;
 margin-left: 11%
}
.span-login{
  margin-top: 10px;
}
.span-password{
  margin-top: 5px;
}

.span-login, .span-password{
  width: 100%;
  background-color: #EA750D;
  border:0;
  border-radius: 5px 0 0 5px;
}

input[type=text]{
  margin-top: 10px;
}

input[type=password]{
  margin-top: 5px;
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 70%;
  border: solid #f6f6f6;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #EA750D;
  outline: none;
}


input[type=submit] {
  background-color: #EA750D;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(191, 94, 10,0.4);
  box-shadow: 0 10px 30px 0 rgba(191, 94, 10,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  margin: 10px 0 20px 0;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
  background-color: #bf5e0a;
}

input[type=submit]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}


@media screen and (max-width: 480px) {
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
  }

  input[type=text], input[type=password] {
    width: 70%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .span-login, .span-password{
    display: none;
  }
  .input-group-prepend{
   width: 0;
   text-align: center;
   margin-left: 15%;
  }
}

@media screen and (max-width: 768px) {
  input[type=text], input[type=password] {
    width: 70%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .span-login, .span-password{
    display: none;
  }

  .input-group-prepend{
   width: 0;
   text-align: center;
   margin-left: 15%;
  }

}

@media screen and (max-width: 968px) {
  #formContent {
    width: 60%;
  }
}

@media screen and (max-width: 1280px) {
  #formContent {
    min-width: 50%;
  }
}
