.selected-span{
  display: none;
}
span.selected {
  display: inline;
  color: #EA750D;
}
.container :hover .selected, .container :hover .selected-span{
  color: red;
}
.container :hover .selected-span{
  display: inline;
}

.page-title{
  text-align: center;
}
.contact-link{
  display: block;
  width: 87px;
  border: 1px solid #EA750D;
  padding: 5px 24px;
  border-radius: 5px;
  color: #EA750D;
}
.contact-link:hover{
  background-color: #EA750D;
  color: white;
  text-decoration: none;
}
#formContent {
  margin-top: 2%;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: rgba(0,0,0,0.82);
  width: 70%;
  padding: 0px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  color: #fff;
}


a {
  color: #EA750D;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  #formContent {
    width: 80%;
    min-width: 80%;
  }
}



@media screen and (max-width: 968px) {
  #formContent {
    width: 60%;
  }
}
